@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
  @apply px-2;
}
.bg-primary1{
  background-color: rgba(34, 24, 54, 0.859)
}
.bg-primary{
  background-color: rgb(57, 57, 167);
}
.bg-secondary{
  background-color: rgb(85, 70, 184);
}

.mobile-nav{
  @apply fixed top-10 left-0 bg-primary1 w-full ;
}

.mobile-nav li {
  @apply w-full h-full text-center py-3 border-b-2;
}

.project-desc{
  @apply absolute left-0 right-0 bottom-0
  top-0 bg-primary opacity-0 hover:opacity-100 duration-500;
}

.btn{
  @apply justify-center flex bg-secondary  text-white px-5 py-2 font-bold hover:border-2 border-white rounded;
}

html{
  scroll-behavior: smooth;
}